.scroll{
    text-align: center;
    margin-top: 100px;
    padding: 40px;
}

.invisible_text{
    color: aliceblue;
}

@media only screen and (max-width: 600px){
    .scroll{
        text-align: center;
        margin-top: 170px;
        padding: 40px;
    }
}