.home_page{
    background-color: aliceblue;
    margin: 10px;
    height: 100vh;
}

.menu_logo{
    position: sticky;
    padding: 20px;
    margin-left: 20px;
}

.logo{
    color: black;
    text-decoration: none;
}




@media only screen and (max-width: 600px) {
    .menu_logo{
        margin-top: 20px;
    }
    h3{
        font-size: 18px;
    }
}
